// fonts
@font-face {
  font-family: 'Roboto-Regular';
  src: url('../fonts/roboto/Roboto-Regular.ttf');
}
@font-face {
  font-family: 'Roboto-Bold';
  src: url('../fonts/roboto/Roboto-Bold.ttf');
}
// global colors
$base: rgb(0,102,204); //blue
$base--dark: rgb(0,77,153); //dark blue
$accent: rgb(255,0,128); //pink
$light: rgb(255,255,255); //white
$dark: rgb(0,0,0); //dark
$lightish: rgb(242,242,242); // light grey
$lightisher: rgb(217,217,217); // slightly darker light grey
$lightisherist: rgb(166,166,166); // grey
$alert-success: rgb(0, 204, 102);

* {
  box-sizing: border-box;
  font-family: "Roboto-Regular", helvetica, sans-serif;
  font-size: 12px;
  line-height: 1.5;
}

body,
h2,
h3,
h4,
p,
ul {
  margin: 0;
}
//wrapper

.wrapper {
  padding: 1em;
}
//header

.header {
  background-color: $base;
}

.header-logo {
  text-decoration: none;
  color: $light;
  text-align: center;
}

.header-logo h1 {
  font-size: 2em;
  margin: 0;
  line-height: 2;
}

.header-button {
  border: none;
  color: $light;
  background-color: $base;
  position: absolute;
  height: 4em;
  width: 4em;
  padding: 1em;
  top: 0;
  left: 0;
  background-image: url('../img/menu.svg');
  background-size: 2em;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 2px;
}
// slideout order panel

aside {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -200px;
  width: 200px;
  background-color: $light;
  z-index: 2;
  transition: all 0.5s ease;
}

.panel-active {
  left: 0;
  transition: all 0.5s ease;
}

.screen-active {
  background-color: rgba(0,0,0,.3);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.panel-button {
  border: none;
  height: 4em;
  display: block;
  background-color: $lightish;
  width: 100%;
  padding-left: 2em;
  text-align: left;
}
// hero

.hero {
  background-image: url('../img/hero.jpg');
  padding: 2em;
}

.hero-header {
  color: $light;
  font-size: 3.998em;
  font-family: "Roboto-Bold", helvetica, sans-serif;
  text-align: center;
}

.hero-button {
  background-color: $accent;
  color: $light;
  text-transform: uppercase;
  border-radius: 0;
  border: none;
  padding: 1em;
  margin: 0 auto;
  display: block;
  margin-top: 1em;
  box-shadow: -2px 2px 5px 0 rgba(0,0,0,.2);
}
// marketing

.textblock {
  padding-top: 1em;
  padding-bottom: 1em;
}

.textblock-header {
  color: $accent;
  font-size: 1.414em;
  margin-bottom: 0.5em;
}

.material-icons {
  vertical-align: middle;
  margin-right: 0.15em;
  margin-top: -.15em;
}
// footer

.footer {
  background-color: $base;
}

.footer-logo {
  text-decoration: none;
  color: $light;
}

.footer-logo h2 {
  font-size: 1.414em;
  margin-bottom: 0.5em;
}

.footer-tagline {
  color: $light;
  margin-bottom: 0.5em;
}

.footer--darkbase {
  background-color: $base--dark;
}

.footer-links {
  padding-left: 0;
}

.footer-links li {
  list-style-type: none;
}

.footer-links a {
  text-decoration: none;
  color: $light;
}

.footer-copyright {
  color: $light;
}
// toast

.toast {
  position: fixed;
  top: 0;
  width: 100%;
  height: 30px;
}
// order page
// menu

.menu-header,
.order-header {
  font-size: 2em;
  margin-bottom: 0.5em;
}

.card {
  width: 302px;
  margin-bottom: 3em;
  box-shadow: 0 4px 5px 1px rgba(0,0,0, .3);
}

.card-header {
  font-size: 1.414em;
  padding: 1.5em 1.5em 0.25em;
}

.card-button {
  text-transform: uppercase;
  color: $accent;
  padding: 1.414em 2.121em;
  width: 100%;
  background-color: $light;
  border: none;
  border-top: 1px solid $lightish;
  text-align: left;
}

.card-price {
  padding: 0 2.121em 1.414em;
}

.card-image {
  width: 302px;
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url('../img/burger.jpg');
}

.card:nth-of-type(2) {
  .card-image {
    background-image: url('../img/pizza.jpg');
  }
}

.card:nth-of-type(3) {
  .card-image {
    background-image: url('../img/ribs.jpg');
  }
}

.card:nth-of-type(4) {
  .card-image {
    background-image: url('../img/ice_cream.jpg');
  }
}
// table

.table {
  width: 100%;
  border-collapse: collapse;
}

.table td,
.table th {
  padding: 1em;
}

.table-header {
  font-family: "Roboto-Bold", helvetica, sans-serif;
}

.table-head th {
  border-bottom: 1.5px solid $lightisher;
}

tbody tr:nth-of-type(odd) td {
  background-color: $lightish;
}

.table-header:last-of-type {
  text-align: right;
}

.table-header:first-of-type {
  text-align: left;
}

.table-total {
  text-align: right;
}

.table-price {
  text-align: right;
  width: 25%;
}
// form

.form {
  width: calc(100% - ('.form-icon.width'));
}

.input-label {
  font-size: 0.707em;
  color: $lightisherist;
}

.form .input {
  display: block;
  border: none;
  border-bottom: 2px solid $alert-success;
  margin-bottom: 1em;
  padding-bottom: 0.75em;
  width: 90%;
}

.form-submit {
  border: none;
  background-color: $accent;
  color: $light;
  padding: 1em;
  text-transform: uppercase;
  border-radius: 2px;
  box-shadow: -2px 2px 5px 0 rgba(0,0,0,.2);
  margin: 0 auto;
  display: block;
}

.form .form-textarea {
  resize: none;
  padding-bottom: 0;
  margin-bottom: 2.5em;
}

.form-icon {
  display: inline-block;
  float: left;
  color: $accent;
  margin-top: 0.5em;
}
